@font-face {
  font-family: "GTWalsheimPro";
  src: url("/fonts/GTWalsheimPro-Light.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "GTWalsheimPro";
  src: url("/fonts/GTWalsheimPro-Medium.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "GTWalsheimPro";
  src: url("/fonts/GTWalsheimPro-");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "GTWalsheimPro" !important;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

.font-bold {
  font-weight: 600;
}

.big-h {
  font-size: 52px;
  line-height: 55px;
  font-weight: 800;
}
@media screen and (min-width: 992px) {
  .big-h {
    font-size: 60px;
    line-height: 66px;
    font-weight: 800;
  }
}

.heading {
  font-size: 42px;
  font-weight: 600;
}

.sub-heading {
  font-size: 24px;
  font-weight: 600;
}

.small-heading {
  font-size: 18px;
  font-weight: 600;
}

ul,
li {
  list-style: none;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
  width: fit-content !important;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: #212529 !important;
  display: inline-block;
}

p {
  margin-bottom: 0px !important;
}

section,
footer {
  padding: 4rem 0rem;
}
@media screen and (min-width: 992px) {
  section,
  footer {
    padding: 6rem 0rem;
  }
}

.white-text {
  color: white;
}

.l-grey-text {
  color: #888888 !important;
}

.grey-text {
  color: #555555 !important;
}

.bg-white {
  background-color: white;
}

.bg-black {
  background-color: #121212;
}

.bg-grey {
  background: #f8f8f8;
}

.bg-yellow {
  background: #edc774;
}

.simple-shadow {
  box-shadow: 0 33px 66px rgba(0, 0, 0, 0.04);
}

.cards-shadow {
  box-shadow: 0px 46px 46px rgba(0, 0, 0, 0.04);
}

.p-shadow {
  box-shadow: 0px 11px 12px #efd38d59;
}

.dark-btn {
  font-size: 16px;
  background-color: #121212;
  color: #fff !important;
  border: none !important;
  border-radius: 100px;
  padding: 14px 30px;
  transition: 0.15s;
}
.dark-btn:hover {
  background-color: #fbd46f;
  color: #121212 !important;
}

.unfilled-btn {
  font-size: 16px;
  background-color: transparent;
  color: #121212 !important;
  border: 1px solid #707070;
  border-radius: 100px;
  padding: 14px 30px;
  transition: 0.15s;
}
.unfilled-btn:hover {
  background-color: #121212;
  color: #fff !important;
}

.topDec-line {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
}

.topDec-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 13px;
  width: 100%;
  background-color: #ffc74c;
  z-index: 1;
}

.button {
  border: none;
  background: #edc774;
  border-radius: 100px;
  padding: 14px 30px;
}

.pl-6 {
  padding-left: 5rem;
}
